<div class="container game-form-container">
  {{ vm.name }}
  <form name="gameForm">
    <div class="field">
      <label class="label">Nome</label>
      <div class="control">
        <input type="text" 
               name="name" 
               class="input" 
               ng-class="{ 'is-danger': gameForm.name.$dirty && !vm.game.name }" 
               placeholder="Nome" 
               ng-model="vm.game.name" 
               required>
      </div>
      <p class="help" ng-class="{ 'is-danger': gameForm.name.$dirty && !vm.game.name }">Nome do jogo</p>
    </div>
    
    <div class="field">
      <label class="label">Imagem</label>
      <div class="control">
        <input type="url"
               name="imageUrl"
               class="input" 
               ng-class="{ 'is-danger': gameForm.imageUrl.$dirty && !vm.game.imageUrl }" 
               placeholder="Ex: http://example.com/image.png" 
               ng-model="vm.game.imageUrl" 
               required>
      </div>
      <p class="help" ng-class="{ 'is-danger': gameForm.imageUrl.$dirty && !vm.game.imageUrl }">URL da imagem</p>
    </div>

    <div class="field">
      <label class="label">Preço</label>
      <div class="control">
        <input class="input" 
               name="price" 
               ng-class="{ 'is-danger': gameForm.price.$dirty && !vm.game.price }" 
               type="number" 
               min="0.00" 
               max="10000.00" 
               step="0.01" 
               placeholder="Preço" 
               ng-model="vm.game.price" 
               required/>
      </div>
      <p class="help" ng-class="{ 'is-danger': gameForm.price.$dirty && !vm.game.price }">Preço do jogo</p>
    </div>

    <a ui-sref="game" class="button is-default">Voltar</a>
    <button type="button" class="button is-link" ng-click="vm.saveGame()" ng-disabled="gameForm.$invalid">Salvar</button>
  </form>
</div>
