<table class="table">
    <thead>
        <tr>
            <td>Name</td>
            <td>Email</td>
            <td>Excluir</td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="customer in vm.customers">
            <td>
                <a href="/#!/customers/{{ customer.id }}/edit">
                    {{ customer.name }}
                </a>
            </td>
            <td>{{ customer.email }}</td>
            <td>
                <button class="button is-danger" ng-click="vm.removeCustomer(customer.id)">
                    <i class="fas fa-trash-alt has-text-white"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>
