.navbar-brand .navbar-item span {
    margin: 0 5px;
}

.card-image img {
    width: 120px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #dedede;
}

.games-container {
    margin-top: 10px;
}

.games-container .card-content {
    text-align: center;
}

.games-container .card-footer .button {
    border-radius: 0;
}

.card-header-icon {
    background: #ff2b56;
}

