<div class="container">
  <div class="columns is-multiline games-container">
    <div class="column is-one-quarter" ng-repeat="game in vm.games">
      {{ game | json }}
      <div class="card">
        <header class="card-header">
          <p class="card-header-title"></p>
          <a href="" ng-click="vm.removeGame(game.id)" class="card-header-icon" aria-label="more options">
            <span class="icon has-text-white">
              <i class="fas fa-trash-alt" aria-hidden="true"></i>
            </span>
          </a>
        </header>
        
        <a href="/#!/games/{{ game.id }}/edit">
          <div class="card-image">
            <img ng-src="{{ game.imageUrl }}" alt="{{ card.name }}" title="{{ card.name }}">
          </div>
        </a>
        
        <div class="card-content">
          <div class="content">
            <div>{{ game.name }}</div>
            <div class="title is-centered">R$ {{ game.price }}</div>
            <div class="subtitle is-6">
              à vista com desconto<br>
              ou 6x vezes sem juros
            </div>
          </div>
        </div>

        <footer class="card-footer">
          <button type="button" class="button is-medium is-link is-fullwidth">COMPRAR</button>
        </footer>
      </div>
    </div>
  </div>
</div>
