<div class="container game-form-container">
  <form>
    <div class="field">
      <label class="label">Nome</label>
      <div class="control">
        <input type="text" name="name" class="input" placeholder="Nome" ng-model="vm.customer.name">
      </div>
      <p class="help">Nome do cliente</p>
    </div>

    <div class="field">
      <label class="label">Email</label>
      <div class="control">
        <input type="text" name="email" class="input" placeholder="Email" ng-model="vm.customer.email">
      </div>
      <p class="help">Email do cliente</p>
    </div>

    <a ui-sref="customer" class="button is-default">Voltar</a>
    <button type="button" class="button is-link" ng-click="vm.saveCustomer()">Salvar</button>
  </form>
</div>
